/* - START - */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	box-sizing: border-box;
	border: none;
	outline: none;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 1.5em;
	color: #333333;
}

p {
	font-size: 1em;
	color: #777777;
}

/* - HEADER - */
.cabecalho {
	width: 100%;
	float: left;
	padding: 50px 8%;
	background-color: #13c7ae;
}

.logo a {
	width: 221px;
	height: 48px;
	float: left;
	background: url(../_img/logo.png) no-repeat;
	font-size: 0;
}

.cabecalho form {
	width: 30%;
	float: right;
}

.cabecalho button {
	width: 15%;
	float: right;
	padding: 15px 10px;
	background-color: #0cae98;
	color: #ffffff;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	}

.buscador {
	width: 85%;
	float: left;
	padding: 15px 10px;
	border-radius: 5px 0 0 5px;
}

/* - MENU - */
.menu {
	width: 100%;
	float: left;
	background-color: #111111;
	padding: 18px 8%;
}

.menu li {
	float: left;
}

.menu li a {
	color: #9d9d9d;
	margin-right: 25px;
}

.menu li a:hover {
	color: #ffffff;
}

/* - SOCIAL ICONS */
.social-icons {
	float: right;
}

.social-icons a {
	color: #ffffff;
	float: left;
	margin-left: 12px;
}

.btn-facebook:hover {
	color: #3b5998;
}

.btn-twitter:hover {
	color: #54a5d6;
}

.btn-google:hover {
	color: #d73d32;
}

/* - MAIN - */
.principal {
	width: 100%;
	float: left;
	padding: 20px 8%;
}

.sobre {
	width: 70%;
	float: left;
	padding: 0 20px 20px 0;
}

.sobre h2 {
	margin-bottom: 15px;
}

.sobre img {
	width: 50%;
	float: left;
	border-radius: 5px;
	margin: 0 15px 15px 0;
}

.sobre p {
	text-align: justify;
}

/* - SIDEBAR - */
.onde-estamos {
	width: 30%;
	float: right;
	padding: 10px 20px;
	background-color: #f5f5f5;
	border-radius: 5px;
}

.onde-estamos h2 {
	margin-bottom: 5px;
}

.onde-estamos iframe {
	width: 100%;
	height: 250px;
	margin: 20px 0;
}

.onde-estamos li {
	color: #777777;
	margin-bottom: 10px;
}

.onde-estamos i {
	margin-right: 5px;
}

/* - NEWSLETTER - */
.newsletter {
	width: 100%;
	float: left;
	background-color: #111111;
	padding: 50px 8%;
}

.newsletter h3 {
	font-size: 1.8em;
	color: #ffffff;
}

.newsletter p {
	font-size: 1.2em;
	color: #ffffff;
}

.newsletter form {
	width: 100%;
	float: left;
	margin-top: 10px;
}

.newsletter form input {
	width: 40%;
	margin-right: 1%;
	padding: 15px 10px;
	border: 1px solid rgb(255,255,255,0.6);
	border-radius: 5px;
	color: #ffffff;
	background-color: initial;
	float: left;
}

.newsletter button {
	width: 18%;
	background-color: #ffffff;
	padding: 15px 10px;
	border-radius: 5px;
	float: right;
	cursor: pointer;
}

/* - FOOTER - */
footer {
	width: 100%;
	float: left;
	background-color: #13c7ae;
	padding: 20px 8%;
}

footer p {
	color: #ffffff;
	text-align: center;
}